@keyframes pop-in {
	0% {
		scale: 0;
	}

	50% {
		scale: 110%;
	}

	100% {
		scale: 100%;
	}
}

.pop-in {
	animation: pop-in 0.5s;
}

:root {
	--border-radius: 20px;
	--article-color: rgb(230, 230, 230);
}

*:not(dialog) {
	margin-top: 0;
}

input {
	font-size: inherit;
}

body {
	font-family: sans-serif;
	margin: 20px;
}

main {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	gap: 20px;
	grid-auto-rows: 200px;

	article {
		background-color: var(--article-color);
		padding: 20px;
		border: 3px solid black;
		border-radius: var(--border-radius);
		box-shadow: 3px 3px 7px darkgrey;

		display: flex;
		flex-direction: column;

		h2 {
			margin-bottom: 5px;
		}

		h3 {
			font-size: 1rem;
		}

		div {
			margin-top: auto;
			display: flex;
			justify-content: space-between;
			align-items: center;

			.readButton {
				width: 90px;

				/* TODO: dialog is too wide on mobile */
				&:focus-visible {
					outline: 2px solid black;
					outline-offset: 4px;
				}
			}

			button {
				border-radius: var(--border-radius);
				border: solid 2px black;
				padding: 5px 10px;
				cursor: pointer;

				&[data-has-read="true"] {
					background-color: hsl(120, 100%, 85%);
				}

				&[data-has-read="false"] {
					background-color: hsl(0, 100%, 85%);
				}
			}

			.book-options {
				button {
					background-color: transparent;
					border: 0;

					&:last-child {
						margin-left: 10px;
					}

					svg {
						height: 1.3rem;
					}
				}
			}
		}
	}

	#addBook {
		&:focus-visible {
			outline: 3px solid black;
			outline-offset: 4px;
		}

		background-color: var(--article-color);
		border: 3px dashed black;
		border-radius: var(--border-radius);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		box-shadow: 3px 3px 7px darkgrey;

		h2 {
			margin: 0;
			margin-bottom: 10px;
		}

		svg {
			height: 2.5rem;
		}
	}
}

#addBookDialog {
	font-size: 1.3rem;
	border-radius: var(--border-radius);
	padding: 30px;
	--dialog-elements-gap: 15px;

	&::backdrop {
		background-color: rgba(0, 0, 0, 0.6);
	}

	#titleAndClose {
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		margin-bottom: 25px;

		h2 {
			margin: 0;
		}

		button {
			background-color: transparent;
			border: 0;
			cursor: pointer;
			padding: 6px;

			svg {
				height: 1.5rem;
			}
		}
	}

	#textInputs {
		display: grid;
		grid-template-columns: auto 1fr;
		gap: var(--dialog-elements-gap);
		margin: 0;

		input {
			border-radius: 4px;
			border: 1px solid;
			padding: 2px 5px;
		}
	}

	form {
		& > div {
			margin-bottom: var(--dialog-elements-gap);
		}

		div:last-child {
			display: flex;
			justify-content: space-between;
			align-items: baseline;
			gap: 10px;
			margin: 0;

			button {
				cursor: pointer;
				background-color: var(--article-color);
				border-radius: var(--border-radius);
				padding: 10px 20px;
				border-style: solid;
				font-size: 1.2rem;
				margin-top: 25px;

				&:focus-visible {
					outline: 3px solid black;
					outline-offset: 4px;
				}
			}
		}

		input:user-invalid {
			background-color: hsl(0, 100%, 85%);
		}

		#formError {
			font-style: italic;
			color: hsl(0, 100%, 25%);
		}
	}
}

@media (width < 500px) {
	#addBookDialog {
		padding: 20px;

		#textInputs {
			grid-template-columns: auto;
		}
	}
}
